.header

= render 'shared/left-content'

.message
  = render @messages

  .message__top
    .message__top__edit-btn
      Edit
    .message__top__title
      text-group
    .message__top__text
      Member:AAAAA
  .message__center
    .message__center__upper
      .message__center__upper__username
        test-user
      .message__center__upper__date
        2019/9/14(Sat)00:00:00
    .message__center__lower
      .message__center__lower__text
        こんにちは！

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'